<ion-content>
    <ion-item color="success">
        <div *ngIf="!isInward">
            <ion-icon name="trash-bin-outline"></ion-icon> Material Outwards
        </div>
        <div *ngIf="isInward">
            <ion-icon name="cart-outline"></ion-icon> Material Inwards
        </div>
        <ion-button slot="end" color="danger" [disabled]="selectedProduct.length<=0" (click)="getOrderedItems()">
            <ion-icon name="trash-outline"></ion-icon>
            <ion-label>{{selectedProduct.length}}</ion-label>
        </ion-button>
    </ion-item>
    <form [formGroup]="outageForm" (ngSubmit)="addToOutage()">
        <ion-item>
            <ion-label position="stacked">Outlet
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-select placeholder="Select" formControlName="Outlet">
                <ion-select-option *ngFor="let outlet of userOutlet" [value]="outlet">
                    {{outlet.NormalizeName}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Item
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required type="text" [value]="selectedItemName" (click)="getItems()" readonly required>
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Movement Type
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-select placeholder="Select" formControlName="Movement">
                <ion-select-option *ngFor="let movement of movementType" [value]="movement">
                    {{movement.NormalizeName}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Quantity
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required type="number" formControlName="Quantity" placeholder="0.00" required>
            </ion-input>
            <ion-note slot="end" color="danger">{{itemUnit}}</ion-note>
        </ion-item>
        <ion-item *ngIf="isInward">
            <ion-label position="stacked">Rate
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required type="number" formControlName="Rate" placeholder="0.00" required>
            </ion-input>
            <ion-note slot="end" color="danger" *ngIf="itemUnit">per/{{itemUnit}}</ion-note>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Comment
            </ion-label>
            <ion-input type="text" formControlName="Comment"></ion-input>
        </ion-item>
        <div class="ion-padding">
            <ion-button expand="block" slot="end" color="success" type="submit" class="ion-no-margin" [disabled]="outageForm.invalid">
                <ion-icon name="add-outline"></ion-icon> Add
            </ion-button>
        </div>
    </form>
</ion-content>