<ion-card>
    <ion-card-header>
        <ion-card-title color='success' class="ion-text-left">Reset Passowrd</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <form [formGroup]="resetCredential" (ngSubmit)="onFormSubmission()">
            <ion-list lines="full" class="ion-no-margin ion-no-padding">
                <ion-item>
                    <ion-label position="stacked">Password
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input required type="Password" formControlName="passcode"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Re-Password
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input required type="Password" formControlName="rePasscode"></ion-input>
                </ion-item>
            </ion-list>
            <div class="ion-padding">
                <ion-button expand="block" type="submit" class="ion-no-margin" color="success" [disabled]='resetCredential.invalid'>
                    Submit</ion-button>
            </div>
        </form>
    </ion-card-content>
</ion-card>