<ion-content>
    <ion-list>
        <ion-item color="success">
            <!-- <ion-icon name="cart-outline"></ion-icon>-->
            <ion-label> Items</ion-label>
            <ion-icon name="close-circle-outline" slot="end" (click)="closePop(null)"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-searchbar showCancelButton="never" [(ngModel)]="itemSearch"></ion-searchbar>
        </ion-item>
        <ion-item *ngFor="let item of items | commonSearch:itemSearch">
            <ion-label>
                <h3>({{item.Units.NormalizeName}}) {{item.NormalizeName}}</h3>
            </ion-label>
            <ion-button color="success" (click)="closePop(item)">Select</ion-button>
        </ion-item>
    </ion-list>
</ion-content>